# Introduction to Scikit Learn (sklearn)

This notebook demonstrate some of the most useful function of the beautiful Scikit-Learn library.

What we're going to cover:

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. choose the right estimator/algorithm for our problem
3. Fit the model/algorithm and use it to make prediction on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all togrther

# 0. An end-to-end Scikit-Learn workflow

In [1]:
# 1. Get the data ready
import pandas as pd
import numpy as np
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

ModuleNotFoundError: No module named 'pandas'

In [1]:
300+7000+5000+1000+15000+500+4500+3000+150+1500+500+1000+12000+500+440+140+5000+2000+300+6000+1000+1500+500+4000+700+100+3000+4000

80630

In [4]:
1000+1000+1000+1000+500+2500+1000+1000+1500+4500+3000+1000+1000+600+700+500+300+100+100+300+600+300+800+1000+100+700+1500+5000+500+1000+500+150+300+200+500+3000+1000+1000+1000+1200+500+1000+1500+3500+200+800+500+300+200+300+500+500+400+500+1100+500+3500+1200+1900+230+500+90+500+500+1000+1000+1000+200+300+600+300+1500+2000+100+200+800+1000+8500+200+200

82570

In [5]:
82570-80630

1940

In [7]:
400+5000+4000+1100+2000

12500

In [2]:
# create X (feature matrix)
X = heart_disease.drop('target', axis=1)

# create y (labels)
y = heart_disease['target']

In [10]:
# 2. choose the right model and hyperparameter
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We keep the default hyperparameters
clf.get_params()

ModuleNotFoundError: No module named 'sklearn'

In [4]:
# 3. Fit the model to the traning data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y,
                                                    test_size=0.2)
X.shape, X_train.shape, X_test.shape

((303, 13), (242, 13), (61, 13))

In [5]:
clf.fit(X_train, y_train);

In [6]:
# Make a prediction
y_pred = clf.predict(X_test)
y_pred

array([1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1], dtype=int64)

In [7]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
245,48,1,0,124,274,0,0,166,0,0.5,1,0,3
34,51,1,3,125,213,0,0,125,1,1.4,2,1,2
91,57,1,0,132,207,0,1,168,1,0.0,2,0,3
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2
254,59,1,3,160,273,0,0,125,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
204,62,0,0,160,164,0,0,145,0,6.2,0,3,3
112,64,0,2,140,313,0,1,133,0,0.2,2,0,3

In [8]:
y_test

245    0
34     1
91     1
82     1
254    0
      ..
50     1
11     1
257    0
204    0
112    1
Name: target, Length: 61, dtype: int64

In [9]:
# 4. Evaluate the model
clf.score(X_train, y_train)

1.0

In [10]:
clf.score(X_test, y_test)

0.7540983606557377

In [11]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.69      0.73        29
           1       0.74      0.81      0.78        32

    accuracy                           0.75        61
   macro avg       0.76      0.75      0.75        61
weighted avg       0.76      0.75      0.75        61

In [12]:
confusion_matrix(y_test, y_pred)

array([[20,  9],
       [ 6, 26]], dtype=int64)

In [13]:
accuracy_score(y_test, y_pred)

0.7540983606557377

In [14]:
# Improve a model
# Try the different estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100: 2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set:  80.327869%

Trying model with 20 estimators...
Model accuracy on test set:  75.409836%

Trying model with 30 estimators...
Model accuracy on test set:  77.049180%

Trying model with 40 estimators...
Model accuracy on test set:  78.688525%

Trying model with 50 estimators...
Model accuracy on test set:  72.131148%

Trying model with 60 estimators...
Model accuracy on test set:  77.049180%

Trying model with 70 estimators...
Model accuracy on test set:  81.967213%

Trying model with 80 estimators...
Model accuracy on test set:  77.049180%

Trying model with 90 estimators...
Model accuracy on test set:  77.049180%

In [15]:
# 6. Save a model and load it 
import pickle

pickle.dump(clf, open('random.pkl', 'wb'))

In [16]:
loaded_model = pickle.load(open('random.pkl', 'rb'))
loaded_model.score(X_test, y_test)

0.7704918032786885